name: Build

on:
  push:
    branches:
      - main

jobs:
  buildar:
    runs-on: ubuntu-latest
    name: Build

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .Net
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '8.x'
